*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(153, 190, 98);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#heading{
    padding-bottom: 50px;
    color: rgb(255, 233, 38);
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#upperblock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 50px;
}
#login-btn{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    margin-right: 5px;
}
#signin-btn{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 7px;
    background-color: rgb(176, 121, 218);
    color: white;
    margin-bottom: 10px;
}
#panel{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
#tpanel{
    width: 100%;
    height: 80px;
    background-color: rgb(41, 98, 41);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 400px;
}
.score{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
}
.box{
    width: 35px;
    height: 32px;
    background-color: white;
    color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(39, 145, 39);
    font-weight: 700;
}
#btmpanel{
    width: 100%;
    height: calc(100% - 80px);
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.bubble{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(101, 160, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 5px 5px;
}
.bubble:hover{
    background-color: rgb(64, 101, 8);
}

#logout-btn{
    display: none;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 7px;
    background-color: red;
    color: lightgoldenrodyellow;
    margin-bottom: 30px;
    margin-right: 5px;
}